@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #1c3342;
  --primary-hover: #1c3342;
  --primary-focus: none;
  --primary-inverse: #FFF;
}
 
html {
    font-family: 'Fira Mono', monospace;
    font-family: 'Roboto', sans-serif;
}

nav {
    /* always show the navbar */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background-color: #dae4e8;
    box-shadow: 0 6px 6px 0 rgba(124, 124, 124, 0.2);

    padding-left: 8em;
    padding-right: 8em;

    height: 5.5em;
}

.menu-voice:hover {
    font-weight: 300;
}

@media (max-width: 600px) {
    nav {
        padding-left: 0.3em;
        padding-right: 0.8em;

        height: 5em;
    }
}

.navbar-gap {
    margin-top: 3.5em;
}

hr {
    height: 1px;
    border: none;
}

/* presentation section */
.presentation{
    text-align: center;

    padding-top: 2em;
    padding-bottom: 2em;
}

hr {
   background-color: #dae4e8;
   border: 3px solid #dae4e8;
   border-radius: 80px 80px 80px 80px;
}

.quote {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    text-align: center;

    padding-top: 2em;
    padding-bottom: 2em;
}

.translate {
    font-size: 0.7em;
    font-style: italic;
    font-weight: normal;
}


/* filtered list section */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* collapse the div one on the top of the other if the screen is too small */
@media (max-width: 600px) {
    .parent {
        display: flex;
        flex-direction: column;
    }
}

.div1 { 
    grid-area: 1 / 1 / 2 / 4;
    padding-left: 0.2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div2 { 
    grid-area: 1 / 4 / 2 / 6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}