
/* define colors */
:root {
    --background: #352F44 !important;
    --main: #FAF0E6 !important;
    --secondary: #5C5470 !important;
    --secondary-light: #B9B4C7 !important;
}



nav {
    /* always show the navbar */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background-color: var(--secondary);

    padding-left: 8em;
    padding-right: 8em;
}

@media (max-width: 600px) {
    nav {
        padding-left: 0.8em;
        padding-right: 0.8em;
    }
}

.navbar-gap {
    margin-top: 3.5em;
}

/* background for all the page */
html {
    background-color: var(--background);
    color: var(--main);

}

hr {
    color: var(--secondary-light);
    background-color: var(--secondary-light);
    height: 1px;
    border: none;
}


/* define link style */
a {
    color: var(--main);
    text-decoration: none;
    border-radius: 0px;
}

a:hover {
    color: var(--secondary-light);
    border-bottom: 1px solid var(--secondary-light);
    border-radius: 0px;
}

a:focus {
    color: var(--secondary-light);
    border: none;
    outline: none;
    background-color: transparent;
}

a:visited {
    color: var(--main);
}

.logo:hover {
    border-bottom: 1px solid var(--secondary-light);

}

/* presentation section */
.presentation{
    text-align: center;

    padding-top: 2em;
    padding-bottom: 2em;
}

.quote {
    font-size: 1.4em;
    font-style: italic;
    font-weight: bold;
    text-align: center;

    padding-top: 2em;
    padding-bottom: 2em;
}

.translate {
    font-size: 0.7em;
    font-style: italic;
    font-weight: normal;
    color: var(--secondary-light);
}


/* filtered list section */
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* collapse the div one on the top of the other if the screen is too small */
@media (max-width: 600px) {
    .parent {
        display: flex;
        flex-direction: column;
    }
}

.div1 { 
    grid-area: 1 / 1 / 2 / 4;
    padding-left: 0.2em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div2 { 
    grid-area: 1 / 4 / 2 / 6;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div2 select {

    padding: 0.5em;
    margin: 0.5em;
    border: none;
    border-radius: 0.1em;
    background-color: var(--secondary-light);
    color: var(--background);
    font-weight: bold;
}


/* define the style of the list */
.tablelist {
    padding-top: 2em;
    color: var(--main);
}


.footer {
    text-align: center;
    padding-top: 3em;
    padding-bottom: 3em;
}